body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }

  .container {
    display: flex;
    height: 100%;
  }

  .sidebar {
    width: 200px;
    background-color: #2b2b2b;
    padding: 10px;
    box-sizing: border-box;
  }
  
  #canvas {
    flex-grow: 1;
    background: #000000;
  }
  